<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>WeatherAPI</display-name>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.weatherAPI.servlet.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>jersey-serlvet</servlet-name>
        <servlet-class>
            org.glassfish.jersey.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.weatherApi.rest</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountServlet</servlet-name>
        <servlet-class>com.weatherAPI.servlet.CreateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.weatherAPI.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>com.weatherAPI.servlet.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.weatherAPI.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAPISettingsServlet</servlet-name>
        <servlet-class>com.weatherAPI.servlet.UserAPISettingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserAPISubscriptionServlet</servlet-name>
        <servlet-class>com.weatherAPI.servlet.GetUserAPISubscriptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchLocationServlet</servlet-name>
        <servlet-class>com.weatherAPI.servlet.FetchLocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFavoriteLocationServlet</servlet-name>
        <servlet-class>com.weatherAPI.servlet.AddFavoriteLocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDefaultAndFavoriteLocationsServlet</servlet-name>
        <servlet-class>com.weatherAPI.servlet.GetDefaultAndFavoriteLocationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLocationServlet</servlet-name>
        <servlet-class>com.weatherAPI.servlet.DeleteLocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDefaultLocationServlet</servlet-name>
        <servlet-class>com.weatherAPI.servlet.AddDefaultLocationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>jersey-serlvet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountServlet</servlet-name>
        <url-pattern>/CreateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/user/UpdateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/user/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAPISettingsServlet</servlet-name>
        <url-pattern>/user/UserAPISettingsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserAPISubscriptionServlet</servlet-name>
        <url-pattern>/user/GetUserAPISubscriptionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchLocationServlet</servlet-name>
        <url-pattern>/user/FetchLocationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFavoriteLocationServlet</servlet-name>
        <url-pattern>/user/AddFavoriteLocationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDefaultAndFavoriteLocationsServlet</servlet-name>
        <url-pattern>/user/GetDefaultAndFavoriteLocationsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLocationServlet</servlet-name>
        <url-pattern>/user/DeleteLocationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDefaultLocationServlet</servlet-name>
        <url-pattern>/user/AddDefaultLocationServlet</url-pattern>
    </servlet-mapping>
</web-app>